<h1>Edit an Article!</h1>

<%= form_for @article  do |f| %>

<p>
	<%= f.label :title %><br>
	<%= f.text_field :title %>
</p>
<p>
	<%= f.label :text %><br>
	<%= f.text_area :text %>
</p>
<p>
	<%= f.submit %>
</p>
<p>
	<%= link_to 'Back', articles_path %> |
	<%= link_to "Home", root_path %>
</p>

<% end %>