<p><strong>	Title: </strong>
<%= @article.title %><br>
</p>
<p>
	<%= @article.created_at %>
</p>
<p>
	<strong> Text: </strong>
	<%= @article.text %>
</p>
<%= render 'comments/comment' %>
<hr>
<%= render 'comments/form' %>
<p>
	<%= link_to 'Back', articles_path %>
	<%= link_to "Home", root_path %>
</p>
