<section class="footer">
	<div class="row">
		<div class="col-md-4 darker">
			<div class="col-md-12 padding white "><!--padding and white are classes in footer.scss -->
				<h4>General Info</h4>
				<hr>
				<h5 class="linktxt">Address Line 1</h5> 
				<h5 class="linktxt">Address Line 2</h5>
				<h5 class="linktxt">Address Line 3</h5>
				<hr>
				<p class="small-font grey">&copy; Mywebsite.in 2018 All Rights Reserved </p>
			</div>
		</div><!-- col-md-4 -->
		<div class="col-md-4">
			<div class="col-md-12 padding white">
				<h4>Subscribe</h4>
				<hr>

		<%= form_for :subscriber, url: subscribers_path do |f| %>
		<%= f.text_field :f_name, placeholder: "First Name", class: "form-control mr-sm-2 sm-style" %>
		<%= f.text_field :l_name, placeholder: "Last Name", class: "form-control mr-sm-2 sm-style" %>
		<%= f.email_field :email, placeholder: "Enter you Email", class: "form-control mr-sm-2 sm-style" %>
		<div class="form-control2 sm-style">
		<%= f.select :district, options_for_select(['krishna','Guntur','Nellore']),
					  prompt: 'Select your district' %>
		</div>
		<%= f.submit 'Submit', class: "btn btn-light my-2 my-sm-0" %>
		<% end %>

			<!--	<form class="form-inline my-2 my-lg-0">
			      <input class="form-control mr-sm-2" type="text" placeholder="Enter your Email" aria-label="Email"
			      style="margin-bottom: 10px; width: 100%;"><br>
			      <button class="btn btn-light my-2 my-sm-0" type="submit">Submit</button>
			    </form> -->
			</div>
		</div><!-- col-md-4 -->
		<div class="col-md-4 dark">
			<div class="col-md-12 padding white ">
				<h4>Social Network</h4>
				<hr>
				<h5><% link_to "facebook", root_path, class: "linktxt" %></h5>
				<h5>Twitter</h5>
				<h5>Linkedin</h5>
				<h5>Github</h5>
			</div>
		</div><!-- col-md-4 -->
	</div>
</section>